@charset "UTF-8";

/*Resets*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #2b3035;
  height: 100%;
}

/*Fuente google*/
@font-face {
  font-family: "Andreas";
  src: url(../assets/fonts/Andreas.ttf);
}

/*linea divisora*/
.line-front-page {
  border-top: 1px solid ;
  height: 2px;
  margin: 0 25px 0 25px;
}
  
.align-items {
  align-items: center;
  text-align: center;
  justify-content: center;
  justify-items: center;
}

/*Index y registro*/
.bodyIndexRegistro{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  background-size: cover;
  background-repeat: no-repeat; 
  background-attachment: fixed;
} 


.mainIndexRegistro{
    background-color: #d1d5da;
    display: block;
    max-width: 400px;
    width: 100%;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.mainIndexRegistro h1{
  color: #111213;
}

.mainIndexRegistro img{
  border-radius: 15%;
}
  
.form-signin {
  max-width: 330px;
  padding: 1rem;
}
.m-auto {
  margin: auto !important;
}
.w-100 {
  width: 100% !important;
}

/*Tienda*/
.main-tienda section #titulo-tienda h1 {
    color: #0048b1;
    font-family: "Andreas";
    font-weight: bold;
    font-size: 3vw;
    padding-top: 3rem;
    margin-bottom: 16px;
  }
  .main-tienda section #category-tienda h2 {
    font-family: "Times New Roman", Times, serif;
    font-size: 2vw;
    padding-top: 3rem;
    margin-bottom: 16px;
  }
  .main-tienda section #card-instrument-tienda{
    display: grid;
    grid-template-columns: repeat(4, 20vw);
    text-align: center;
    align-items: end;
    justify-content: start;
    gap: 4rem;
    margin: 3rem;
  }
  .main-tienda section .div-instrument-tienda .card-instrument-tienda {
    width: 320px;
    transition: 0.5S;
  }
  .main-tienda section .div-instrument-tienda .card-instrument-tienda:hover {
    transform: translate(-20px, -20px);
    transition: 0.5S;
  }
  .main-tienda section .div-instrument-tienda #card-instrument-tienda {
    transform: translate(-20px, -20px);
    transition: 0.5S;
  }
  .main-tienda section .div-instrument-tienda .card-instrument-tienda img {
    width: 100%;
    border-radius: 5%;
  }
  .main-tienda section .div-instrument-tienda .card-instrument-tienda .logo-button-shopp .button-instrument-tienda {
    background-color: #0048b1;
    font-family: "Andreas";
    font-weight: 700;
    padding: 15px;
  }
  .main-tienda section .div-instrument-tienda .card-instrument-tienda .logo-button-shopp img {
    height: 25px;
    width: 25px;
  }

  #carritoContenedor{
    display: grid;
    grid-template-columns: repeat(4, 20vw);
    text-align: center;
    align-items: end;
    justify-content: start;
    gap: 4rem;
    margin: 3rem;
  }

  .carrito h1{
    font-family: "Times New Roman", Times, serif;
    font-size: 2.0vw;
    padding-top: 1rem;
    margin-bottom: 16px;
    text-align: center;
  }
  .carrito-item img{
    width: 220px;
  }
  .carrito-item P {
    font-size: 0.7vw;
  }
  #btnCalcularCarrito{
    text-align: center;
    background-color: #0048b1;
    padding: 15px;
    font-size: 0.9vw;
  }
  #btnVaciarCarrito{
    text-align: center;
    background-color: #0048b1;
    padding: 15px;
    font-size: 0.9vw;
  }

  #btneliminar{
    text-align: center;
    background-color: #0048b1;
    padding: 15px;
  }

  /*margenes*/
.form-contact{
  display: inline-block;
  margin: 25px;
  font-size: 0.8vw;
  font-weight:400;
}

.form-control{
  padding: 0.5vw;
}


/*Boton*/
.button-contact{

  font-family: inherit;
  font-size: 10px;
  padding: 15px;
  border-radius: 25px;
}

.botonCarrito{
  margin-top: 15vw;
  text-align: center;
}

/*  footer*/
footer section {
    margin-top: 5rem;
    background-color: #f8f9fa;
  }
  footer section #footer-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    transition: 0.5S;
  }
  footer section #footer-img img {
    width: 150px;
    height: 150px;
    border-radius: 5%;
  }
  footer section #footer-img:hover {
    transform: translate(0, -15px);
    transition: 0.5S;
  }
  footer section .div-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    align-self: start;
    text-align: center;
    padding: 0 3vw 0 3vw;
    gap: 15vw;
  }
  footer section .div-footer h3 {
    font-size: 2em;
  }
  footer section .div-footer p {
    font-size: 2em;
  }
  footer section .footer-list ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    padding-left: 0;
    padding-bottom: 1vw;
    margin-bottom: 0;
  }
  footer section .footer-list ul li {
    list-style-type: none;
    transition: 0.8S;
  }
  footer section .footer-list ul li:hover {
    transform: translate(0, -12px);
    transition: 0.5S;
  }

  /*Media Query todas las paginas*/
/*Media query nav bar*/
@media screen and (max-width: 991px) {
  header nav .container .menu .menu-items {
    align-items: center;
    z-index: 1;
    width: 100vw;
    background-color: #f8f9fa;
  }
}

/*Media query para monitores pequeños*/
@media screen and (max-width: 1450px) and (min-width: 1025px) {
  
    /*Tienda*/
  .main-tienda section #titulo-tienda h1 {
    color: #0048b1;
    font-family: "Andreas";
    font-weight: bold;
    font-size: 3.5vw;
    padding-top: 3rem;
    margin-bottom: 16px;
  }
  .main-tienda section #category-tienda h2 {
    font-family: "Times New Roman", Times, serif;
    font-size: 2.5vw;
    padding-top: 3rem;
    margin-bottom: 16px;
  }
  .main-tienda section #card-instrument-tienda{
    display: grid;
    grid-template-columns: repeat(3, 26vw);
    text-align: center;
    align-items: end;
    justify-content: start;
    gap: 4rem;
    margin: 3rem;
  }
  .main-tienda section .div-instrument-tienda .card-instrument-tienda {
    width: 280px;
    transition: 0.5S;
  }

  .main-tienda section .div-instrument-tienda .card-instrument-tienda h3{
      font-size: 2.3vw;
  }
  .main-tienda section .div-instrument-tienda .card-instrument-tienda:hover {
    transform: translate(-15px, -15px);
    transition: 0.5S;
  }
  .main-tienda section .div-instrument-tienda #card-instrument-tienda {
    transform: translate(-20px, -20px);
    transition: 0.5S;
  }
  .main-tienda section .div-instrument-tienda .card-instrument-tienda img {
    width: 100%;
    border-radius: 5%;
  }
  .main-tienda section .div-instrument-tienda .card-instrument-tienda .logo-button-shopp .button-instrument-tienda {
    background-color: #0048b1;
    font-family: "Andreas";
    font-weight: 700;
    padding: 15px;
  }
  .main-tienda section .div-instrument-tienda .card-instrument-tienda .logo-button-shopp img {
    height: 25px;
    width: 25px;
  }

  #carritoContenedor{
    display: grid;
    grid-template-columns: repeat(3, 26vw);
    text-align: center;
    align-items: end;
    justify-content: start;
    gap: 4rem;
    margin: 3rem;
  }


  .carrito h1{
    font-family: "Times New Roman", Times, serif;
    font-size: 3.0vw;
    padding-top: 2rem;
    margin-bottom: 8px;
    text-align: center;
  }
  .carrito-item img{
    width: 220px;
  }
  .carrito-item h4{
    font-size: 2.0vw;
  }
  .carrito-item P {
    font-size: 1.5vw;
    font-weight: 400;
  }
  #btnCalcularCarrito{
    text-align: center;
    background-color: #0048b1;
    padding: 15px;
  }
  #btnVaciarCarrito{
    text-align: center;
    background-color: #0048b1;
    padding: 15px;
  }

  #btneliminar{
    text-align: center;
    background-color: #0048b1;
    padding: 15px;
  }

  .botonCarrito{
    margin-top: 15vw;
    text-align: center;
  }

  /*margenes*/
  .form-contact{
  display: inline-block;
  margin: 25px;
  font-size: 1.5vw;
  font-weight:400;
  }

  .form-control{
    padding: 0px;
  }

  footer section {
    margin-top: 5rem;
    background-color: #f8f9fa;
  }
  footer section #footer-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  footer section #footer-img img {
    width: 12vw;
    height: 12vw;
    border-radius: 5%;
  }
  footer section .div-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    align-self: start;
    text-align: center;
    padding: 0 3vw 0 3vw;
    gap: 15vw;
  }
  footer section .div-footer h3 {
    font-size: 1.5rem;
  }
  footer section .div-footer p {
    font-size: 1.3rem;
  }
  footer section .footer-list ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    padding-left: 0;
    padding-bottom: 1vw;
    margin-bottom: 0;
  }
  footer section .footer-list ul li {
    list-style-type: none;
  }
 
}

/*Media query para tablet*/
@media screen and (max-width: 1024px) and (min-width: 769px) {
  
  /*Tienda*/
  .main-tienda section #titulo-tienda h1 {
    color: #0048b1;
    font-family: "Andreas";
    font-weight: bold;
    font-size: 3.7vw;
    padding-top: 3rem;
    margin-bottom: 16px;
  }
  .main-tienda section #category-tienda h2 {
    font-family: "Times New Roman", Times, serif;
    font-size: 2.7vw;
    padding-top: 3rem;
    margin-bottom: 16px;
  }
  .main-tienda section #card-instrument-tienda{
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    text-align: center;
    align-items: end;
    justify-content: start;
    gap: 4rem;
    margin: 0vw 12vw 12vw 12vw;
  }
  .main-tienda section .div-instrument-tienda .card-instrument-tienda {
    width: 220px;
    transition: 0.5S;
  }

  .main-tienda section .div-instrument-tienda .card-instrument-tienda h3{
      font-size: 2.3vw;
  }
  .main-tienda section .div-instrument-tienda .card-instrument-tienda:hover {
    transform: translate(-15px, -15px);
    transition: 0.5S;
  }
  .main-tienda section .div-instrument-tienda #card-instrument-tienda {
    transform: translate(-20px, -20px);
    transition: 0.5S;
  }
  .main-tienda section .div-instrument-tienda .card-instrument-tienda img {
    width: 100%;
    border-radius: 5%;
  }
  .main-tienda section .div-instrument-tienda .card-instrument-tienda .logo-button-shopp .button-instrument-tienda {
    background-color: #0048b1;
    font-family: "Andreas";
    font-weight: 700;
    padding: 13px;
  }
  .main-tienda section .div-instrument-tienda .card-instrument-tienda .logo-button-shopp img {
    height: 25px;
    width: 25px;
  }

  #carritoContenedor{
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    text-align: center;
    align-items: end;
    justify-content: start;
    gap: 4rem;
    margin: 3rem;
  }

  .carrito h1{
    font-family: "Times New Roman", Times, serif;
    font-size: 3.0vw;
    padding-top: 2rem;
    margin-bottom: 8px;
    text-align: center;
  }
  .carrito-item img{
    width: 220px;
  }
  .carrito-item h4{
    font-size: 2.0vw;
  }
  .carrito-item P {
    font-size: 2vw;
    font-weight: 400;
  }
  #btnCalcularCarrito{
    text-align: center;
    background-color: #0048b1;
    padding: 15px;
  }
  #btnVaciarCarrito{
    text-align: center;
    background-color: #0048b1;
    padding: 15px;
  }

  #btneliminar{
    text-align: center;
    background-color: #0048b1;
    padding: 15px;
  }

  .botonCarrito{
    margin-top: 15vw;
    text-align: center;
  }

  /*margenes*/
  .form-contact{
  display: inline-block;
  margin-top: 25px;
  font-size: 1.8vw;
  font-weight:400;
  }

  .form-control{
    padding: 0px;
  }

  footer section {
    margin-top: 5rem;
    background-color: #f8f9fa;
  }
  footer section #footer-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  footer section #footer-img img {
    width: 12vw;
    height: 12vw;
    border-radius: 5%;
  }
  footer section .div-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    align-self: start;
    text-align: center;
    margin: 0vw 10vw 0vw 10vw;
  }
  footer section .div-footer h3 {
    font-size: 1.3rem;
  }
  footer section .div-footer p {
    font-size: 1.1rem;
  }
  footer section .footer-list ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    padding-left: 0;
    padding-bottom: 1vw;
    margin-bottom: 0;
  }
  footer section .footer-list ul li {
    list-style-type: none;
  }
}

/*Para dispositivos pequeños*/
@media screen and (max-width: 768px) {
  header nav .container {
    padding-left: 0;
  }
  header nav .container .menu-logo img {
    width: 20vw;
  }
  header nav .container .menu-navbar .logo-img-svg {
    background-image: url(../assets/img/imagen-menu1.svg);
  }
  header nav .container .menu {
    flex-grow: 0;
    font-weight: 500;
  }
  header nav .container .menu .menu-items {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
 
  /*Tienda*/
  .main-tienda section #titulo-tienda h1 {
    color: #0048b1;
    font-family: "Andreas";
    font-weight: bold;
    font-size: 5vw;
    padding-top: 3rem;
    margin-bottom: 16px;
  }
  .main-tienda section #category-tienda h2 {
    font-family: "Times New Roman", Times, serif;
    font-size: 4.5vw;
    padding: 2rem 2rem 2.5rem 2rem;
    margin-bottom: 16px;
  }
  .main-tienda section #card-instrument-tienda{
    display: grid;
    grid-template-columns: repeat(1, 100%);
    text-align: center;
    align-items: end;
    justify-content: space-around;
    gap: 4rem;
    margin: 0vw 10vw 10vw 10vw;
  }
  .main-tienda section .div-instrument-tienda .card-instrument-tienda {
    transition: 0.5S;
  }

  .main-tienda section .div-instrument-tienda .card-instrument-tienda h3{
      font-size: 4.8vw;
  }
  .main-tienda section .div-instrument-tienda .card-instrument-tienda:hover {
    transform: translate(-10px, -10px);
    transition: 0.5S;
  }
  .main-tienda section .div-instrument-tienda #card-instrument-tienda {
    transform: translate(-20px, -20px);
    transition: 0.5S;
  }
  .main-tienda section .div-instrument-tienda .card-instrument-tienda img {
    width: 100%;
    border-radius: 5%;
  }
  .main-tienda section .div-instrument-tienda .card-instrument-tienda .logo-button-shopp .button-instrument-tienda {
    background-color: #0048b1;
    font-family: "Andreas";
    font-weight: 700;
    padding: 13px;
  }
  .main-tienda section .div-instrument-tienda .card-instrument-tienda .logo-button-shopp img {
    height: 25px;
    width: 25px;
  }

  #carritoContenedor{
    display: grid;
    grid-template-columns: repeat(1, 100%);
    text-align: center;
    align-items: end;
    justify-content: start;
    gap: 4rem;
    margin: 3rem;
  }

  .carrito h1{
    font-family: "Times New Roman", Times, serif;
    font-size: 6.0vw;
    padding-top: 2rem;
    margin-bottom: 8px;
    text-align: center;
  }
  .carrito-item img{
    width: 220px;
  }
  .carrito-item h4{
    font-size: 4.5vw;
  }
  .carrito-item P {
    font-size: 4.5vw;
    font-weight: 400;
  }
  #btnCalcularCarrito{
    text-align: center;
    background-color: #0048b1;
    padding: 15px;
    font-size: 4vw;
  }
  #btnVaciarCarrito{
    text-align: center;
    background-color: #0048b1;
    padding: 15px;
    font-size: 4vw;
  }

  #btneliminar{
    text-align: center;
    background-color: #0048b1;
    padding: 15px;
  }

  .botonCarrito{
    margin-top: 25vw;
    text-align: center;
  }

  /*margenes*/
  .form-contact{
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 40px;
    font-size: 4vw;
    font-weight:400;
  }

  .form-control{
    padding: 0px;
  }

  footer section {
    margin-top: 5rem;
    background-color: #f8f9fa;
  }
  footer section #footer-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  footer section #footer-img img {
    width: 20vw;
    height: 20vw;
    border-radius: 5%;
  }
  footer section .div-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    align-self: start;
    text-align: center;
    margin: 0vw 2vw 0vw 2vw;
  }
  footer section .div-footer h3 {
    font-size: 1rem;
  }
  footer section .div-footer p {
    font-size: 0.9rem;
  }
  footer section .footer-list ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    padding-left: 0;
    padding-bottom: 1vw;
    margin-bottom: 0;
  }
  footer section .footer-list ul li {
    list-style-type: none;
  }
}

/*#sourceMappingURL=style.css.map */